@charset "utf-8";
/* CSS Document */
body
{
	background-color:grey;
}
.yuvarlak{
    border: 2px solid #a1a1a1;
    padding: 10px 40px;
    background: #dddddd;
    width: 300px;
    border-radius: 25px;
}
ul.liste{
	list-style-position: inside;
	font-size:16px;
	
}
li.yazi a{
	color:#565656;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:11px;
}
li.altyazi a{
	color:#fff;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

footer{
background:#36273c;
color:#eee;
font-size:11px;
padding:20px;	
}


.line{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}
.duyurubaslik{
	
    background-color: #71a99b;
    text-align: center;
    color: #fff;
    padding: 1px;
    font-size: 18px;
}

.duyuru{

	overflow-y: scroll;
	height:400px;
	border:solid 1px;	
	margin-bottom:10px;

	
}

.ustheader{
	height: 25px;
    font-size: 11px;
	float:right;
	padding-top:3px;
	
}
.logos {
    line-height: 25px;
    padding-right: 10px !important;
}
.right{
	float:right;
}
.anabilimdali{
text-decoration: none; 
color: #000;
}

.acilirmenu ul li:hover ul {
	display: block;
	
}

.acilirmenu ul li:hover {
}

.bilgi{

font-size:14px;
margin-bottom:5px;
padding-left:5px;
}
.link{
text-decoration:none;

font-size:14px;
color: #000;
}
.link a:hover
{
color: #000;
}
.tarih
{
float:left;
margin-left:15px;
}
.yazar
{
float:right;
margin-right:10px;
font-size:13px;
}
.bodyduyuru1
{
background-color:#E0F2B7;
padding-top:5px;
padding-left:5px;
padding-bottom:30px;
}

.bodyduyuru2
{
height:3px;
background-color:#ccc;
}

.tumduyurular
{
float:right;
font-size:14px;
margin-right:10px;
}

.wrapper {    
	margin-top: 80px;
	margin-bottom: 20px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);  
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}